* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

:root {
    background-color: #ECD078;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #542437;
}

header {
    padding-top: 2%;
    background-color: #53777A;
}

body{
    height: 100vh;
}

main{
    display: flex; 
}

h1 {
    text-align: center;
    font-size: 3em;
    /*font-family: Georgia, 'Times New Roman', Times, serif;
    color: #542437;*/
}
 
aside {
    display: flex;
    background-color: #D95B43;
}